@use 'helpers' as *;

body {
  @include fluid-text(18, 14);

  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-dark);
}
